<a href="https://colab.research.google.com/github/AliShujjat/DropOutRatesInPakistan/blob/main/PreprocessingPart2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Edu.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (12,78,82,86,89,92,131) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df = df[['If Drop-out, studied up-to which\nclass',
       'Education Status of Child', 'Edu status', 'Reasons for Dropout',
       'Age of Child', 'Reasons for dropout', 'C013',
       'Age of father (completed years)', 'C010', 'HCOUNTER',
       'Age of mother (completed years)', 'Arithmetic Levels',
       'Total number of surviving children (LESS THAN 17) of mother', 'WSCORE',
       'H001M', 'H001F', 'Gender of Child', 'DID', 'Gender ', 'C012a',
       'Unique ID of government school', 'Name of the District', 'GS007P',
       'GS003Y', 'Local Language of the Village', 'GS007E', 'H010',
       'WINDEX/Economic Profile', 'Windex', 'V007', 'GS011L', 'H002/Type of Household',
       'Currently Enrolled: Institution type', 'Name of Province/Territory','Current Class-Grade of Child']]

In [ ]:
len(df.columns)

35

In [ ]:
df.iloc[:,10:]

,Age of mother (completed years),Arithmetic Levels,Total number of surviving children (LESS THAN 17) of mother,WSCORE,H001M,H001F,Gender of Child,DID,Gender,C012a,...,GS007E,H010,WINDEX/Economic Profile,Windex,V007,GS011L,H002/Type of Household,Currently Enrolled: Institution type,Name of Province/Territory,Current Class-Grade of Child
0,36.0,6.0,4.0,-0.023974,5.0,1.0,0.0,132,male,-1.0,...,54.0,0.0,2.0,Poor,2.0,0.0,3,Government,Azad Jammu and Kashmir,2
1,30.0,6.0,2.0,0.706430,2.0,2.0,-1.0,132,female,-1.0,...,54.0,0.0,3.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,2
2,65.0,3.0,3.0,0.706430,6.0,3.0,-1.0,132,female,0.0,...,54.0,0.0,3.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,Nursery
3,45.0,6.0,3.0,0.916803,2.0,3.0,0.0,132,male,-1.0,...,54.0,1.0,4.0,Richest,2.0,0.0,2,Government,Azad Jammu and Kashmir,3
4,30.0,6.0,3.0,-0.185241,3.0,2.0,0.0,132,male,-1.0,...,54.0,0.0,2.0,Poor,2.0,0.0,3,Private,Azad Jammu and Kashmir,Nursery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260181,30.0,3.0,2.0,-3.282894,2.0,2.0,-1.0,25,female,0.0,...,54.0,0.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,2
260182,26.0,6.0,1.0,-3.282894,2.0,1.0,0.0,25,male,-1.0,...,54.0,0.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,2
260183,30.0,1.0,2.0,-0.487587,2.0,2.0,0.0,25,male,0.0,...,54.0,1.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,2
260184,28.0,6.0,3.0,-3.282894,2.0,3.0,-1.0,25,female,-1.0,...,54.0,0.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,2
260185,29.0,1.0,1.0,-2.298616,2.0,1.0,0.0,25,male,0.0,...,54.0,0.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,1

In [ ]:
df = df.replace(np.nan, df.mode(dropna = True).iloc[0])

In [ ]:
df.isnull().values.sum()

0

In [ ]:
df.head()

,"If Drop-out, studied up-to which\nclass",Education Status of Child,Edu status,Reasons for Dropout,Age of Child,Reasons for dropout,C013,Age of father (completed years),C010,HCOUNTER,...,GS007E,H010,WINDEX/Economic Profile,Windex,V007,GS011L,H002/Type of Household,Currently Enrolled: Institution type,Name of Province/Territory,Current Class-Grade of Child
0,5,1.0,Never Enrolled,2.0,3.0,Poverty,1.0,40.0,5.0,1.0,...,54.0,0.0,2.0,Poor,2.0,0.0,3,Government,Azad Jammu and Kashmir,2
1,5,3.0,Currently Enrolled,2.0,5.0,Poverty,4.0,35.0,3.0,3.0,...,54.0,0.0,3.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,2
2,5,3.0,Currently Enrolled,2.0,5.0,Poverty,3.0,70.0,2.0,2.0,...,54.0,0.0,3.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,Nursery
3,5,3.0,Currently Enrolled,2.0,10.0,Poverty,5.0,50.0,5.0,8.0,...,54.0,1.0,4.0,Richest,2.0,0.0,2,Government,Azad Jammu and Kashmir,3
4,5,3.0,Currently Enrolled,2.0,4.0,Poverty,1.0,40.0,5.0,20.0,...,54.0,0.0,2.0,Poor,2.0,0.0,3,Private,Azad Jammu and Kashmir,Nursery

In [ ]:
len(df.columns)

35

In [ ]:
df.columns

Index(['If Drop-out, studied up-to which\nclass', 'Education Status of Child',
       'Edu status', 'Reasons for Dropout', 'Age of Child',
       'Reasons for dropout', 'C013', 'Age of father (completed years)',
       'C010', 'HCOUNTER', 'Age of mother (completed years)',
       'Arithmetic Levels',
       'Total number of surviving children (LESS THAN 17) of mother', 'WSCORE',
       'H001M', 'H001F', 'Gender of Child', 'DID', 'Gender ', 'C012a',
       'Unique ID of government school', 'Name of the District', 'GS007P',
       'GS003Y', 'Local Language of the Village', 'GS007E', 'H010',
       'WINDEX/Economic Profile', 'Windex', 'V007', 'GS011L',
       'H002/Type of Household', 'Currently Enrolled: Institution type',
       'Name of Province/Territory', 'Current Class-Grade of Child'],
      dtype='object')

In [ ]:
new = df.drop(columns=['Education Status of Child',
                 'Reasons for Dropout',
                 'HCOUNTER',
                 "Gender of Child",
                 'DID',
                 "WSCORE",
                 "WINDEX/Economic Profile"])

In [ ]:
new.iloc[:,10:]

,H001M,H001F,Gender,C012a,Unique ID of government school,Name of the District,GS007P,GS003Y,Local Language of the Village,GS007E,H010,Windex,V007,GS011L,H002/Type of Household,Currently Enrolled: Institution type,Name of Province/Territory,Current Class-Grade of Child
0,5.0,1.0,male,-1.0,4792.0,Poonch,50.0,1977.0,HINDKO,54.0,0.0,Poor,2.0,0.0,3,Government,Azad Jammu and Kashmir,2
1,2.0,2.0,female,-1.0,4792.0,Poonch,50.0,1977.0,HINDKO,54.0,0.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,2
2,6.0,3.0,female,0.0,4792.0,Poonch,50.0,1977.0,HINDKO,54.0,0.0,Rich,2.0,0.0,2,Government,Azad Jammu and Kashmir,Nursery
3,2.0,3.0,male,-1.0,4792.0,Poonch,50.0,1977.0,HINDKO,54.0,1.0,Richest,2.0,0.0,2,Government,Azad Jammu and Kashmir,3
4,3.0,2.0,male,-1.0,4792.0,Poonch,50.0,1977.0,HINDKO,54.0,0.0,Poor,2.0,0.0,3,Private,Azad Jammu and Kashmir,Nursery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260181,2.0,2.0,female,0.0,139005.0,Mithi,30.0,1990.0,PASHTO,54.0,0.0,Poorest,0.0,0.0,1,Government,Sindh,2
260182,2.0,1.0,male,-1.0,139005.0,Mithi,30.0,1990.0,PASHTO,54.0,0.0,Poorest,0.0,0.0,1,Government,Sindh,2
260183,2.0,2.0,male,0.0,139005.0,Mithi,30.0,1990.0,PASHTO,54.0,1.0,Poorest,0.0,0.0,1,Government,Sindh,2
260184,2.0,3.0,female,-1.0,139005.0,Mithi,30.0,1990.0,PASHTO,54.0,0.0,Poorest,0.0,0.0,1,Government,Sindh,2
260185,2.0,1.0,male,0.0,139005.0,Mithi,30.0,1990.0,PASHTO,54.0,0.0,Poorest,0.0,0.0,1,Government,Sindh,1

In [ ]:
new.columns

Index(['If Drop-out, studied up-to which class', 'Edu status', 'Age of Child',
       'Reasons for dropout', 'English Reading Level',
       'Age of father (completed years)', 'Reading in local language',
       'Age of mother (completed years)', 'Arithmetic Levels',
       'Total number of surviving children (LESS THAN 17) of mother',
       'Male members of household', 'Female members of household', 'Gender',
       'Is bonus math question 1 attempted correctly?',
       'Unique ID of government school', 'Name of the District',
       'Total children present on day of visit',
       'Year of school establishment', 'Local Language of the Village',
       'Total number of enrolled children',
       'Availability of Motorcycles/Bikes', 'Economic Profile',
       'Total number of government schools in surveyed village',
       'Is electricity available at school?', 'Type of Household',
       'Currently Enrolled: Institution type', 'Name of Province/Territory',
       'Current Class-Grade of Child'],
      dtype='object')

In [ ]:
new.rename(columns={'Gender ': 'Gender'}, inplace=True)

In [ ]:
new.rename(columns={'If Drop-out, studied up-to which\nclass': 'If Drop-out, studied up-to which class'}, inplace=True)

In [ ]:
new.rename(columns={'Windex': 'Economic Profile'}, inplace=True)

In [ ]:
new.rename(columns={'C010': 'Reading in local language'}, inplace=True)

In [ ]:
new.rename(columns={'H002/Type of Household': 'Type of Household'}, inplace=True)

In [ ]:
new.rename(columns={'C013': 'English Reading Level'}, inplace=True)

In [ ]:
new.rename(columns={'H001M': 'Male members of household'}, inplace=True)

In [ ]:
new.rename(columns={'H001F': 'Female members of household'}, inplace=True)

In [ ]:
new.rename(columns={'C012a': 'Is bonus math question 1 attempted correctly?'}, inplace=True)

In [ ]:
new.rename(columns={'GS007P': 'Total children present on day of visit'}, inplace=True)

In [ ]:
new.rename(columns={'GS007E': 'Total number of enrolled children'}, inplace=True)

In [ ]:
new.rename(columns={'Years since school establishment': 'Year of school establishment'}, inplace=True)

In [ ]:
new.rename(columns={'H010': 'Availability of Motorcycles/Bikes'}, inplace=True)

In [ ]:
new.rename(columns={'GS011L': 'Is electricity available at school?'}, inplace=True)

In [ ]:
new.rename(columns={'V007': 'Total number of government schools in surveyed village'}, inplace=True)

In [ ]:
order = {1.0: 'kutcha',2.0: 'Semi pucca',3.0: 'pucca'}
new['Type of Household'] = new['Type of Household'].map(order)

In [ ]:
order = {1.0: 'Beginner',2.0: 'Capital letters',3.0: 'Small letters',4.0:'Words'}
new['C013'] = new['C013'].map(order)

In [ ]:
order = {1.0: 'Beginner',2.0: 'Letters',3.0: 'Words',4.0:'Sentences',5.0:'Story'}
new['Reading in local language'] = new['Reading in local language'].map(order)

In [ ]:
order = {1.0: 'Beginner',2.0: 'Letters',3.0: 'Words',4.0:'Sentences',5.0:'Story'}
new['Reading in local language'] = new['Reading in local language'].map(order)

In [ ]:
order = {1.0: 'Beginner',2.0: 'Recognition of 1-9',3.0: 'Recognition of 10-99',4.0:'Recognition of 100-200',5.0:'Subtraction',6.0:'Division'}
new['Arithmetic Levels'] = new['Arithmetic Levels'].map(order)

In [ ]:
1=Beginner/Nothing 
2=Recognition of 1-9 
3=Recognition of 10-99 
4= Recognition of 100-200 
5=Subtraction 
6=Division

In [ ]:
df2 = pd.read_csv("Edu4.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
len(df2.columns)

30

In [ ]:
df2 = df2[['GS011L', 'H002/Type of Household', 'Currently Enrolled: Institution type', 'Name of Province/Territory','Current Class-Grade of Child']]

In [ ]:
df = pd.concat([df,df2])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [ ]:
new.to_csv("Edu4.csv")

In [ ]:
new

,"If Drop-out, studied up-to which class",Edu status,Age of Child,Reasons for dropout,English Reading Level,Age of father (completed years),Reading in local language,Age of mother (completed years),Arithmetic Levels,Total number of surviving children (LESS THAN 17) of mother,...,Local Language of the Village,Total number of enrolled children,Availability of Motorcycles/Bikes,Economic Profile,Total number of government schools in surveyed village,Is electricity available at school?,Type of Household,Currently Enrolled: Institution type,Name of Province/Territory,Current Class-Grade of Child
0,5,Never Enrolled,3.0,Poverty,Beginner,40.0,Story,36.0,Division,4.0,...,HINDKO,54.0,0.0,Poor,2.0,0.0,pucca,Government,Azad Jammu and Kashmir,2
1,5,Currently Enrolled,5.0,Poverty,Words,35.0,Words,30.0,Division,2.0,...,HINDKO,54.0,0.0,Rich,2.0,0.0,Semi pucca,Government,Azad Jammu and Kashmir,2
2,5,Currently Enrolled,5.0,Poverty,Small letters,70.0,Letters,65.0,Recognition of 10-99,3.0,...,HINDKO,54.0,0.0,Rich,2.0,0.0,Semi pucca,Government,Azad Jammu and Kashmir,Nursery
3,5,Currently Enrolled,10.0,Poverty,NaN,50.0,Story,45.0,Division,3.0,...,HINDKO,54.0,1.0,Richest,2.0,0.0,Semi pucca,Government,Azad Jammu and Kashmir,3
4,5,Currently Enrolled,4.0,Poverty,Beginner,40.0,Story,30.0,Division,3.0,...,HINDKO,54.0,0.0,Poor,2.0,0.0,pucca,Private,Azad Jammu and Kashmir,Nursery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260181,5,Currently Enrolled,8.0,Poverty,Small letters,30.0,Letters,30.0,Recognition of 10-99,2.0,...,PASHTO,54.0,0.0,Poorest,0.0,0.0,kutcha,Government,Sindh,2
260182,5,Never Enrolled,4.0,Poverty,Beginner,28.0,Story,26.0,Division,1.0,...,PASHTO,54.0,0.0,Poorest,0.0,0.0,kutcha,Government,Sindh,2
260183,5,Never Enrolled,5.0,Poverty,Beginner,32.0,Beginner,30.0,Beginner,2.0,...,PASHTO,54.0,1.0,Poorest,0.0,0.0,kutcha,Government,Sindh,2
260184,5,Never Enrolled,3.0,Poverty,Beginner,32.0,Story,28.0,Division,3.0,...,PASHTO,54.0,0.0,Poorest,0.0,0.0,kutcha,Government,Sindh,2
260185,5,Currently Enrolled,6.0,Poverty,Capital letters,33.0,Letters,29.0,Beginner,1.0,...,PASHTO,54.0,0.0,Poorest,0.0,0.0,kutcha,Government,Sindh,1